<!-- Navbar goes here -->

<!-- Page Layout here -->
<div class="row">

<div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
  <!-- Grey navigation panel

        This content will be:
    3-columns-wide on large screens,
    4-columns-wide on medium screens,
    12-columns-wide on small screens  -->
  <h6> <b> LABLES </b> </h6> 
  <% @tags.each do |tag| %>
        <% @tag_counts.each do |_id, _count| 
            if tag.id == _id && _count > 0 %>
            <%= link_to tag.name, tasks_path(tag_name: tag.name)%>
            <br>
        <% end
          end %>
  <%end %>

</div>
<div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
  <!-- Teal page content

        This content will be:
    9-columns-wide on large screens,
    8-columns-wide on medium screens,
    12-columns-wide on small screens  --> 
    <%= link_to 'New Task', new_task_path,  id: "new_link", remote: true%><br>
    <%= render @open %>

<script src="/assets/javascripts/keymaster.js"></script>
<script> key('n', function(){
  document.getElementById("new_link").click();
 }); </script>

</div>

