<h1>Tags</h1>

<% @tags.each do |tag| %>
   		<% @tag_counts.each do |_id, _count| 
   	    	if tag.id == _id && _count > 0 %>
   			  <%= link_to tag.name, tag_path(tag)%>
     	<% end
     		end %>
<%end %>
