<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper green accent-3">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down"></ul>
      </div>
    </nav>
  </div>
